@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Nanum+Gothic:wght@400;700;800&family=Raleway:wght@800&family=Open+Sans:wght@400;800&family=Slabo+27px&display=swap');

$title-font: 'Nanum Gothic', sans-serif;
$content-font: 'Open Sans', sans-serif;


@mixin flex-center($direction: column) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin add-mask {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}

@mixin bar-title {
    margin: 3.125rem 0 5rem;
    padding-left: 1.25rem;
    border-left: #49494a 5px solid;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

header {
    box-shadow: 1px 1px 3px #999;
    position: fixed;
    top: -40px;
    left: 0;
    width: 100vw;
    z-index: 999;
    background-color: #fff;
    min-height: 15vh;

}

.wrap {
    display: grid;
    grid-template-columns: minmax(10px, 20%) auto minmax(10px, 20%);
}

.nav-item {
    margin-inline: .625rem;
    .active {
        &::after {
            content: "";
            height: 3px;
            width: 100%;
            background-color: #000;
            display: block;
            margin-top: .3125rem;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            animation: appear 0.2s linear;
        }
    }
}

@keyframes appear {
    from {
        width:0;
    }

    to {
        width:100%;
    }
    
}

.canvas {
    margin-top: 10vh;
    width: 100%;
    min-height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex !important;
    @include flex-center();


    @for $i from 1 through 2 {
        &--#{$i} {
            background-image: url("../images/slider-#{$i}.jpg");
        }

        &::before {
            @include add-mask()
        }
    }

    .txt {
        @include flex-center();
        transform: translateX(-50%);
    }

    h3,
    a {
        color: #fff;
        position: relative;
        left: 50%;
    }

    h3 {
        font-family: 'Slabo 27px', serif;
        font-size: 60px;
    }

    a {
        font-size: 20px;
        font-weight: 900;
        font-family: $title-font;
        margin-top: 35px;
        color: #fff;
        background-color: #49494a;
        border: 1px solid #999;
        padding: 13px 65px 13px 65px;
        border-radius: 30px;
        text-transform: uppercase;

        &:hover {
            color: #999;
        }
    }

}

.about {
    .container {
        display: grid;
        grid-template-areas:
            "img desc"
            "img skills";
        justify-content: center;
        align-items: center;
        margin-block: 6.25rem;
        column-gap: 15rem;

        h1 {
            font-family: 'Raleway', sans-serif;
            font-size: 40px;
        }

        p {
            font-family: 'Open Sans', sans-serif;
            line-height: 2;
            font-size: 20px;
        }

        .portfolio-img {
            grid-area: img;
        }

        .description {
            grid-area: desc;
        }

        .skills {
            grid-area: skills;

            h1 {
                margin-bottom: 3.125rem;
            }

            .skill-list {
                display: grid;
                grid-template: 1fr 1fr / 1fr 1fr;

                i {
                    font-size: 36px;
                    margin: 1.25rem;
                }
            }
        }
    }
}


.testimonial {
    max-height: 1100px;
    min-height: fit-content;

    h1 {
        // margin: 3.125rem 0 5rem;
        // padding-left: 1.25rem;
        // border-left: #49494a 5px solid;
        @include bar-title();
    }


    .testimonial-slide {
        position: relative;

        .commend {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.8);
            width: 100%;
            height: 50%;
            // min-height: fit-content;
            top: 60%;
            color: #fff;
            font-family: $content-font;
            font-size: 20px;
            padding: 1.25rem 5rem;
            @include flex-center();
        }
    }
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;

    h1 {
        font-family: $title-font;
        margin-block: 1.25rem;
    }

    p {
        font-family: $content-font;
    }

    .contact-form {
        padding: 3.125rem 10vw;
        background-color: #232425;

        form {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            margin-top: 50px;

            input,
            textarea {
                background-color: transparent;
                border: #49494a 1px solid;
                padding-inline: 1.25rem;

                &:focus {
                    border: #000 1px solid;
                    outline: none;
                }

                &:hover {
                    border: #fff 1px solid;
                }
            }

            input {
                height: 50px;
            }

            textarea {
                resize: none;
                padding-top: 5px;
            }

            button {
                width: 20%;
                height: 50px;
                border-radius: 5%;
                background-color: #999;
                border: #999 1px solid;
                color: #fff;

                &:hover {
                    background-color: transparent;
                }
            }
        }

    }
}

footer {

    .container {
        display: flex;
        margin-block: 3.125rem;
        border-top: 1px solid #d2d0d0;

        .content {
            flex: 1;

            h1 {
                @include bar-title();
                color: #1c1c1c;
                font-family: $title-font;
                margin-bottom: 3.125rem;

                &:hover {
                    color: #49494a;
                }

            }

            h5 {
                color: #646464;
                font-weight: 400;
            }


        }

        .social {
            @include flex-center();

            .social-list {
                display: flex;
                flex-direction: row;
                gap: 1.875rem;

                li {
                    font-size: 2.8125rem;
                    cursor: pointer;
                }

            }


        }
    }

}

@media only screen and (max-width: 800px) {
    html {
        font-size: 10px;
    }

    nav {
        margin: 0;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 18px;
    }

    nav {
        margin: 0;
        min-width: 100% !important;
    }
}