@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Nanum+Gothic:wght@400;700;800&family=Raleway:wght@800&family=Open+Sans:wght@400;800&family=Slabo+27px&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

header {
  box-shadow: 1px 1px 3px #999;
  position: fixed;
  top: -40px;
  left: 0;
  width: 100vw;
  z-index: 999;
  background-color: #fff;
  min-height: 15vh;
}

.wrap {
  display: grid;
  grid-template-columns: minmax(10px, 20%) auto minmax(10px, 20%);
}

.canvas {
  margin-top: 10vh;
  width: 100%;
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas--1 {
  background-image: url("../images/slider-1.jpg");
}

.canvas::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

.canvas--2 {
  background-image: url("../images/slider-2.jpg");
}

.canvas::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

.canvas .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
}

.canvas h3,
.canvas a {
  color: #fff;
  position: relative;
  left: 50%;
}

.canvas h3 {
  font-family: 'Slabo 27px', serif;
  font-size: 60px;
}

.canvas a {
  font-size: 20px;
  font-weight: 900;
  font-family: "Nanum Gothic", sans-serif;
  margin-top: 35px;
  color: #fff;
  background-color: #49494a;
  border: 1px solid #999;
  padding: 13px 65px 13px 65px;
  border-radius: 30px;
  text-transform: uppercase;
}

.canvas a:hover {
  color: #999;
}

.about .container {
  display: grid;
  grid-template-areas: "img desc" "img skills";
  justify-content: center;
  align-items: center;
  margin-block: 6.25rem;
  column-gap: 15rem;
}

.about .container h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
}

.about .container p {
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  font-size: 20px;
}

.about .container .portfolio-img {
  grid-area: img;
}

.about .container .description {
  grid-area: desc;
}

.about .container .skills {
  grid-area: skills;
}

.about .container .skills h1 {
  margin-bottom: 3.125rem;
}

.about .container .skills .skill-list {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}

.about .container .skills .skill-list i {
  font-size: 36px;
  margin: 1.25rem;
}

.testimonial {
  max-height: 1100px;
  min-height: fit-content;
}

.testimonial h1 {
  margin: 3.125rem 0 5rem;
  padding-left: 1.25rem;
  border-left: #49494a 5px solid;
}

.testimonial .testimonial-slide {
  position: relative;
}

.testimonial .testimonial-slide .commend {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 50%;
  top: 60%;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding: 1.25rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
}

.contact h1 {
  font-family: "Nanum Gothic", sans-serif;
  margin-block: 1.25rem;
}

.contact p {
  font-family: "Open Sans", sans-serif;
}

.contact .contact-form {
  padding: 3.125rem 10vw;
  background-color: #232425;
}

.contact .contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 50px;
}

.contact .contact-form form input,
.contact .contact-form form textarea {
  background-color: transparent;
  border: #49494a 1px solid;
  padding-inline: 1.25rem;
}

.contact .contact-form form input:focus,
.contact .contact-form form textarea:focus {
  border: #000 1px solid;
  outline: none;
}

.contact .contact-form form input:hover,
.contact .contact-form form textarea:hover {
  border: #fff 1px solid;
}

.contact .contact-form form input {
  height: 50px;
}

.contact .contact-form form textarea {
  resize: none;
  padding-top: 5px;
}

.contact .contact-form form button {
  width: 20%;
  height: 50px;
  border-radius: 5%;
  background-color: #999;
  border: #999 1px solid;
  color: #fff;
}

.contact .contact-form form button:hover {
  background-color: transparent;
}

footer .container {
  display: flex;
  margin-block: 3.125rem;
  border-top: 1px solid #d2d0d0;
}

footer .container .content {
  flex: 1;
}

footer .container .content h1 {
  margin: 3.125rem 0 5rem;
  padding-left: 1.25rem;
  border-left: #49494a 5px solid;
  color: #1c1c1c;
  font-family: "Nanum Gothic", sans-serif;
  margin-bottom: 3.125rem;
}

footer .container .content h1:hover {
  color: #49494a;
}

footer .container .content h5 {
  color: #646464;
  font-weight: 400;
}

footer .container .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .container .social .social-list {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
}

footer .container .social .social-list li {
  font-size: 2.8125rem;
  cursor: pointer;
}
